<div class="well">
  <form id="formConversation" method="post" class="form-horizontal" {{ form_enctype(form) }}>
<fieldset>

<!-- Form Name -->
<legend>Création d'une conversation</legend>
<!-- Text input-->

<div class="control-group">
{{ form_label(form.title) }} <br/>
  <div class="controls">
{{ form_widget(form.title) }}
</div>
{{ form_errors(form.title) }}
</div>


<div class="control-group">
{{ form_label(form.participants) }} <br/>
  <div class="controls">
{{ form_widget(form.participants) }}
</div>
{{ form_errors(form.participants) }}
</div>

{{ form_rest(form) }}
<!-- Button -->
<div class="control-group">
  <div class="controls">
    <button id="new_conversation_submit" class="btn btn-success">Enregister</button>
  </div>
</div>

</fieldset>
</form>
</div>
